DJANGO_SECRET_KEY=replace_with_your_secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# DB_ENGINE=django.db.backends.sqlite3
# DB_NAME=db.sqlite3

DB_NAME=your_db_name
DB_USER=postgres
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

RESNET18_PATH=/path/to/DrishtiAI_AI_Image.pth
RESNET50_PATH=/path/to/DrishtiAI_Deepfake_Image.pth
SWIN_PATH=/path/to/DrishtiAI_Deepfake_Image.pth

MEDIA_ROOT=/path/to/media
MEDIA_URL=/media/